*,
*::before,
*::after { box-sizing:border-box; }
a { text-decoration:none; color:inherit; cursor:pointer; }
button { background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer; }
figure{ margin:0; }
ul, ol, dd { margin:0; padding:0; list-style:none; }
h1, h2, h3, h4, h5, h6 { margin:0; font-size:inherit; font-weight:inherit; }
p { margin:0; }
cite { font-style:normal; }
fieldset { border-width:0; padding:0; margin:0; }

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px 15px;
}
.logo {
    width: 197px;
    height: 40px;
    padding-top: 40px;
    float: left;
}
.nav-bt li {
    font-size: 18px;
    float: left;
    padding-top: 49px;
    color: #000;
    font-family: 'DM Sans' sans-serif;
}
.nav-bt li:hover {
    color: #FFCE40;
}
.nav-bt li a {
    padding: 49px 24px;
}
.lang {
    margin: 32px 16px;
    padding: 18px 24px;
    border-radius: 15px;
}
.btn-download {
    margin: 32px 16px;
    padding: 18px 24px;
    background: #000;
    color: white;
    border-radius: 15px;
}
.btnrightnav .lang .btn-download {
    float: right;

}

.conteinerbg {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 0px 940px;
    background-color: #fff;
    background-image: url('../img/fon1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}
.contentmain {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px 15px;

}
.contentmainleft {
    float: left;

}
.contentmainleft .tmainleft .tmainleft2 .tmainleft3 .mainimgleft{
    float: left;
}
.tmainleft {
    font-family: 'Open Sans', sans-serif;
    padding: 7px 17px 11px 17px;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    margin-top: 220px;
    width: 370px;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(74px);
    border-radius: 49px;
}
.tmainleft2 {
    font-family: 'Lato' sans-serif;
    font-weight: 700;
    font-size: 48px;
    width: 480px;
    height: 150px;
    left: 152px;  
    line-height: 50px;
    margin-top: 25px;
}
.tmainleft3{
    width: 493px;
    font-family: 'Open Sans' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-top: 35px;
}
.mainimgleft {
    float: left;
    margin-top: 40px;
}

.contentmainright img {
    width: 590px;
    margin-top: 150px;
    float: right;
}
.textmainh  {
    margin: 0 auto;
    font-family: 'Lato' sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #2A3342;
    text-decoration: underline;
    text-decoration-color: #FFCE40;
}
.textmainp {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: rgba(27, 28, 31, 0.75);
    margin: 0 auto;
    margin-top: 18px;
}
.about__items {
	align-items: center;
	text-align: center;
	width: 359px;
	height: 272px;
	background: #fff;
	box-shadow: 0px 4px 34px rgba(27, 28, 31, 0.1);
	border-radius: 20px;
	margin: 32px 43px;
}
.about__items .items__img {
	padding: 32px;
}
.about__items .items__name {
	color: #1B1C1F;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
}
.about__items .items__description {
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: rgba(27, 28, 31, 0.75);
	padding: 16px;
}

.left__column {

    float: left;
    width: 32%;
    margin-right: 2%;
}
.middle__column {

    float: left;
    width: 25%;
    margin-right: 2%;
}
.right__column {

    float: left;
    width: 31%;
    margin-right: 2%;

}
.buttonstyle {
    padding: 16px 28px;
    color: white;
    background: #1B1C1F;
    box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
    border-radius: 6px;
    font-family: 'Lato' sans-serif;
}
.middle__column .btn-download {
    margin: 39px 0px 0px 120px;
}
.conteiner__main {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 15px;
}
.conteiner__main .textmainh {
    margin-top: 814px;
}
.conteiner__main .textmainp {
    margin-top: 18px;
}
.right__imgmain {
    width: 550px;
    max-width: 550px;
    float: right;
    margin-top: 50px;
    
}
.about__conteinertext {
    width: 485px;
    max-width: 485px;
    float: left;
}
.about__conteinertext .a__conth3 {
    margin-top: 152px;
}
.about__conteinertext .a__contp {
    margin-top: 30px;
}
.about__conteinertext .btn__main {
    margin-top: 30px;
}
.a__conth3 {
    font-family: 'Lato' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #1B1C1F;
}
.a__contp {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: rgba(27, 28, 31, 0.75);
}
.btn__main {

    padding: 12px 18px;
    width: 160px;
    background: #1B1C1F;
    box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
    border-radius: 6px;
    color: white;
}
.left__imgmain {
    float: left;
    width: 550px;
    max-width: 550px;
}
.about__conteinermain {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 15px;
}

.about__conteinermain .left__imgmain {
    margin-top: 220px;
}
.about__conteinertextr {
    width: 485px;
    max-width: 485px;
    float: right;
}
.about__conteinertextr .a__conth3 {
    margin-top: 170px;
    text-align: right;
}
.about__conteinertextr .a__contp {
    margin-top: 30px;
    text-align: right;
}
.about__conteinertextr .btn__main {
    margin-top: 30px;
    float: right;
}
.conteiner__price {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px 15px;
}
.conteiner__price .textmainh {
    margin-top: 1090px;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}
.conteiner__price .textmainp {
    margin-top: 20px;
}
/* .price__collumn {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px 15px;
}
.left__price {
    float: left;
    width: 33%;
    margin-right: 2%;
}
.middle__price {
    float: left;
    width: 33%;
    margin-right: 2%;
}
.right__price{
    float: left;
    width: 33%;
    margin-right: 2%;
} */
.footercont {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px 15px;
}
.footercont p {
    color: #000;
    margin-top: 1080px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #8896AB;
}



